<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="cart-container">
  <div  
    class="product-box"
    *ngFor="let product of this.dataService.products;trackBy trackFun">
    <div class="product-outer">
      <div class="flex2">
          <img src="{{product.imgSrc}}" class="product-img" alt="{{product.name}}">
      </div>
      <div class="flex3 pad-5">
          <b>{{product.name}}</b>
          <div>{{product.brand}}</div>
          <div>{{product.price}}</div>
          <button *ngIf="!product.cart" class="btn" (click)="addProduct(product)">Add</button>
          <button *ngIf="product.cart" class="btn" (click)="removeProduct(product)">Remove</button>
      </div>  
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
